:root {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: rgba(15,32,39,1);
    background: -moz-linear-gradient(left, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 53%, rgba(44,83,100,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(15,32,39,1)), color-stop(53%, rgba(32,58,67,1)), color-stop(100%, rgba(44,83,100,1)));
    background: -webkit-linear-gradient(left, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 53%, rgba(44,83,100,1) 100%);
    background: -o-linear-gradient(left, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 53%, rgba(44,83,100,1) 100%);
    background: -ms-linear-gradient(left, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 53%, rgba(44,83,100,1) 100%);
    background: linear-gradient(to right, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 53%, rgba(44,83,100,1) 100%);
}

body > .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 6em;
}

.container > * {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container header {
    background-color: rgba(0, 0, 0, 0.34);
}

.container header .content {
    width: 95vw;
    display: flex;
}

header .box {
    display: flex;
}

header .box-1 {
    margin-right: auto;
}

header .logo {
    padding: 2em 0;
    padding-right: 2em;
}

header .logo a{
    font-size: 3em;
    color: inherit;
    font-weight: 700;
}

header .logo a span {
    color: #36D058;
}

header .title {
    display: flex;
    align-items: center;
}

header .title h1 {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.3em;
}

header .burger {
    display: none;
}

header .burger a {
    display: block;
}

header .burger img {
    width: 2.5em;
}

header .nav {
    display: flex;
    align-items: center;
}

header .nav ul {
    display: flex;
}

header .nav li + li {
    margin-left: 2em;
}

header .nav li a {
    display: block;
    color: white;
    font-size: 1.5em;
}

main {
    display: flex;
    margin-top: 5em;
    justify-content: center;
}

main .content {
    width: 82%;
}

main .content .list {
    display: flex;
    flex-wrap: wrap;

}

main .content .list > .post {
    margin-bottom: 3em;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #eaeaea;
}

main .content .list > .post:not(:nth-child(3n+1)) {
    margin-left: auto;
}

main .content .post .time {
    padding: 1em;
    margin-left: auto;
    color: #777777;
}

main .content .post .box {
    width: 86%;
    margin: 0 auto;
    padding-top: 1em;
}

main .content .post .image img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: solid 1px #777777;
}

main .content .post .title {
    padding-top: 1em;
    color: #3d3d3d;
}

main .content .post .title h2 {
    font-size: 1.5em;
}

main .content .post .description {
    padding-top: 1em;
}

main .content .post .description p {
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
    font-size: 1em;
}

main .content .post .box-in-need {
    padding-top: 1em;
    color: #3d3d3d;
}

main .content .post .box-in-need .text > p {
    font-size: 1em;
    font-weight: 700;
}

main .content .post .box-in-need li {
    line-height: 1.5;
}

main .content .post .box-in-need li a {
    text-decoration: underline;
}

main .content .post .box-finished {
    padding: 1em 0;
}

main .content .post .box-finished .fund {
    color: #3d3d3d;
    font-style: italic;
}

main .content .post .box-finished .fund p {
    display: inline;
    font-weight: 700;
    font-style: normal;
}

main .content .post .box-finished .fund span.x {
    font-weight: 700;
    color: linear-gradient(90deg, #B92B27 1.09%, #1565C0 100%);
}

main .content .post .box-finished .progress-line-out {
    width: 100%;
    height: 0.5em;
    margin: 1em 0;
    margin-bottom: 2em;
    background-color: #fff;
    border-radius: 50px;
}

main .content .post .box-finished .progress-line-out > * {
    width: 50%; /*you can change this number*/
    height: 0.5em;
    background-color: #777777;
    border-radius: 50px;
}

main .content .post .btn {
    padding-bottom: 1em;
}

main .content .post .btn a {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    background-color: #58c3b9;
    padding: 0.8125em 0;
    border-radius: 5px;
}

/*
 *  STYLE 4
 */

 #style-4::-webkit-scrollbar-track
 {
     background-color:rgba(44,83,100,1);
 }
 
 #style-4::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar-thumb
 {
     background-color: rgba(0,0,0,0.3);
 }
 


@media screen and (max-width: 1024px) {
    header .nav {
        padding: 2em 0;
    }
    header .box {
        margin-right: 0;
        justify-content: center;
    } 
    header .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    header .box-1 {
        flex-basis: 300px;
        flex: 1;
    }

    header .box-2 {
        flex-basis: 1000px;
    }

    main .content .list > .post {
        flex-basis: 49%;
    }
    
    main .content .list > .post {
        margin-left: auto;
    }
  }

@media screen and (max-width: 768px) {
    header .box-1 {
        align-items: center;
        justify-content: center;
    }
    
    header .burger {
        display: block;
        position: absolute;
        right: 1em;
    }

    header .box-1 .title {
        display: none;

    }

    header .box-1 .logo {
        padding-right: 0;
    }

    header .box-2 {
        display: none;
        transition: all 0.5s;
    }

    header .box-2 .nav {
        width: 100%;
        padding: 0;
    }
    
    header .box-2 ul{
        flex-direction: column;
        width: 100%;
    }

    header .box-2 ul li {
        margin-left: 0;
        padding: 0;
    }

    header .box-2 ul li a {
        text-align: center;
        padding: 1em 0;
    }

    main .content .list > .post {
        flex-basis: 100%;
    }
    
    main .content .list > .post {
        margin: 0;
        margin-top: 2em;
    }
}